.buttons{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
}
.main-profesor1{
    background-image: linear-gradient(rgba(31, 31, 31, 0.5),rgba(31, 31, 31, 0.5)), url(../imagenes/profesor.jpg); 

    background-size: cover;
    background-position: center;
    height: 80vh;
}

h2{
    color:white;
    text-align: center;
    font-size:40px;
 
}
.container{
    background-color:rgb(26, 26, 26);
    padding: 20px 20px;
    border-radius: 15px;
    width: 90vh;
    margin: auto;
}


@media only screen and (max-width: 700px) {
    .main-login1{
    
        height: 100vh;
    }
    .hola {
        margin-bottom: 300px;
    }
    .container{
        background-color:rgb(26, 26, 26);
        padding: 20px 20px;
        border-radius: 15px;
        width:40vh;
        margin-bottom: 200px;
    }
    h2{
        font-size:30px;
     
    }
}
